<form {{action 'authenticate' on='submit'}}>
  {{paper-text label="E-mail" type="email" value=identification}}
  {{paper-text label="Password" type="password" value=password}}
  {{#paper-button classNames="md-primary"}}Log In{{/paper-button}}
</form>
